---
layout: base.njk
title: Accueil
---

<h1>Microblog</h1>

<section>
  {% for post in collections.posts %}
    <article>
      <time datetime="{{ post.date | date('%Y-%m-%d') }}">{{ post.date | date("%d/%m/%Y") }}</time>
      {{ post.content | safe }}
    </article>
  {% else %}
    <p>Aucun post pour le moment.</p>
  {% endfor %}
</section>
